$color-scheme: light;
$link-color: #2196f3;
$nav-child-link-color: #2196f3;
$sidebar-color: #262626;
$base-button-color: #2196f3;
$btn-primary-color: #2196f3;
$code-linenumber-color: #212121;
$feedback-color: darken($sidebar-color, 3%);
$border-color: #212121;